@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300&family=Source+Sans+Pro:wght@400;600&display=swap");
// font-family: 'Rubik', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;

$fontSize: 16px;
$backgroundColorButton: #3E6770;
$colorText: #141418;
$backgroundColorDark: #141418;
$backgroundColorLight: #ece9df;
$lineColor: #f5eed5;

.App {
    display: flex;
    height: 100vh;
    position: relative;
    .container-left {
        width: 65%;
        height: auto;
    
        background-image: url(../assets/book.jpg);
        background-size: cover;
        display: flex;
        .container-title-unions {
            .title {
                font-size: 64px;
                font-weight: 600;
                color: white;
                transform: rotate(-90deg);
                position: absolute;
                left: -100px;
                top: 240px;

            }    
            .collection-unions {
                position: absolute;
                left: 40px;
                top: 460px;
                .group {
                    .union {
                        margin-right: 5px;
                    }
                    .union-opp {
                        transform: rotate(-180deg);
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .container-right {
        width: 35%;
        background-color: #ECE9DF;
        height: 100vh;

    }
}

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 30px;
        width: calc(100% - 80px);
        height: fit-content;
        position: absolute;
        padding: 0 40px;
        section {
            
            a {
                text-decoration: none;
                color: #C98433;
                font-size: 24px;
                margin: 0 20px;
            }
        }
        .bottom-line {
            height: 1px;
            background-color: #C98433;
            width: 100%;

        }        
    }


.containerImgMain {
    width: 50%;
    height: 100vh;
    .imgWrapper {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }
}


// @media (max-width: 1200px) {
//     .navbar {
//         section {
//             a:first-child {
//                 color: white;
//             }
//         }
//     }
// }

// @media (max-width: 890px) {
//     .navbar {
//         section {
//             a:nth-child(2) {
//                 color: white;
//             }
//         }
//     }
// }