@import 'colors.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300&family=Source+Sans+Pro:wght@400;600&display=swap');
// font-family: 'Rubik', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;

.App {
    display: flex;
    width: 100vw;
    height: 100vh;
}

// styling views

.containerImg {
    width: 58%;
    .imgWrapper {
        width: 100%; 
        height: 100%; 
        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }
}

.containerImgMain {
    width: 50%;
    height: 100vh;
    .imgWrapper {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }
}
