$backgroundColorButton: #3E6770;

.containerBookClub {
    border: 2px solid $backgroundColorButton;
    border-radius: 9px;
    padding: 19px;
    margin: 0 10px;
    cursor: pointer;

    .containerInfo {
        .book-title {
            font-family: "Source Sans Pro", sans-serif;
            font-size: 24px;
            margin-bottom: 19px;
            border-bottom: solid grey;
        }
        .group {
            display: flex;
            justify-content: space-between;
            p:first-child {
                font-family: "Source Sans Pro";
                margin-right: 10px;
            }
            p:last-child {
                font-family: "Source Sans Pro";
                font-weight: 600;
            }
        }
        .containerButton {
            display: flex;
            justify-content: flex-end;
            margin: 3px 0 16px 0;
            .button {
                width: 103px;
                height: 18px;
                background: var(--background-color-button);
                border: none;
                border-radius: 6px;
                color: var(--background-color-loginForm);
                font-size: 12px;
                font-family: "Source Sans Pro";
                cursor: pointer;
            }
        }
    }
}
