$backgroundColorButton: #3E6770;
$orange: #C98433;


.container-book-club {
    border: 2px solid #000000;
    border-radius: 9px;
    margin: 10px;
    width: 200px;
    .container-info {
        margin: 20px;
        cursor: pointer;
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .book-title {
            font-family: "Source Sans Pro", sans-serif;
            font-size: 24px;
            border-bottom: solid grey;
            text-overflow: ellipsis;

            white-space: nowrap;
            overflow: hidden;    
        
        }
        .group-lower {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        .group-info {
            display: flex;
            justify-content: space-between;
            p:first-child {
                font-family: "Source Sans Pro";
                margin-right: 10px;
            }
            p:last-child {
                font-family: "Source Sans Pro";
                font-weight: 600;
            }
        }
    }
        .containerButton {
            display: flex;
            justify-content: flex-end;
            margin: 3px 0 16px 0;
            .button {
                width: 103px;
                height: 18px;
                background: var(--background-color-button);
                border: none;
                border-radius: 6px;
                color: var(--background-color-loginForm);
                font-size: 18px;
                font-family: "Source Sans Pro";
                cursor: pointer;
            }
        }
    }
}
