.containerImgMain {
    width: 50%;
    height: 100vh;
    .imgWrapper {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }
}
