.outer-container {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ffffff;
}

.middleMainContainer {
    $fontSize: 16px;
    $backgroundColorButton: #EDDA99;
    $colorText: #141418;
    $backgroundColorDark: #141418;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    // background-color: grey;
    position: absolute;
}
    .container {
        box-sizing: border-box;
        background: #ffffff;
        padding: 23px; 
        border-radius: 9px;
        width: 100%;
        margin: 20px;
        .button {
            width: 109px;
            height: 36px;
            background: #ECDB9E;
            border: none;
            border-radius: 9px;
            color: black;
            font-size: 16px;
            font-family: "Source Sans Pro";
            cursor: pointer;
            margin: 5px;
        }
        
    }
    .topContainer {
        width: 100%;
        margin-bottom: 61px
    }
    .usernameInfo {
        display: flex;
        justify-content: space-between;
        margin: 0 0 20px 10px;

        .username {
            font-size: 21px;
            font-family: "Rubik";
            font-weight: 600;
            margin-top: 20px;
        }

    }
    .contentGroup {
        display: flex;
        margin: 30px;

    }

    .bottomContainer {
        width: 100%;
    }


p {
    margin: 0;
}

.line {
    width: 100%;
    height: 1px;
    background-color: grey;
    margin: 0 20px 11px 0;

}

.containerLowerInfo {
    margin-top: 41px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 9px;
    margin: 24px;
    .container-members {
        border: 2px solid black;
        border-radius: 9px;
        padding: 19px;
        margin: 4px;
        .title {
            padding: 5px;
        }
    }
}

