.middleMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    position: relative;
}
    .container {
        position: absolute;
        border: solid black;
        left: 120px;
        top: 112px;
        box-sizing: border-box;
        width: 90%;
        min-height: 80vh;
        background: var(--background-color-aside);
        padding: 23px; 
        border-radius: 9px;
    }
    .topContainer {
        width: 100%;
        margin-bottom: 61px
    }
    .usernameInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 80px;

        .username {
            font-size: 21px;
            font-family: "Rubik";
            font-weight: 600;
        }

        .button {
            width: 109px;
            height: 36px;
            background: var(--background-color-button);
            border: none;
            border-radius: 9px;
            color: var(--background-color-loginForm);
            font-size: 16px;
            font-family: "Source Sans Pro";
            cursor: pointer;
        }
    }
    .contentGroup {
        margin: 0 20px;

    }

    .bottomContainer {
        width: 100%;
        height: 100%;
    }


p {
    margin: 0;
}

.line {
    width: 100%;
    height: 1px;
    background-color: grey;
    margin: 0 20px 11px 0;

}

.containerLowerInfo {
    margin-top: 41px;
    display: flex;
    background-color: lightgray;
    border-radius: 9px;
    .containerclub {
        border-bottom: 1px solid var(--background-color-button);
        margin: 5px
    }
}
